{deps, [
    %lager_syslog 3.x does not currently exist, so we use the 2.x branch.
    {lager, "2.*", 
      {git, "https://github.com/basho/lager.git", 
      {branch, "2.x"}
      }
    },
    {lager_syslog, "2.*",
      {git, "https://github.com/basho/lager_syslog.git", 
      {branch, "2.1"}
      }
    },
    {epgsql, "2.*",
      {git, "https://github.com/epgsql/epgsql",
       {tag, "2.0.0"}
      }
    }
]}.
